<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.metax.mediaplayersample"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlayerActivity"
            android:label="@string/title_activity_player"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity android:name=".PlayerRemoteControlActivity" />

        <receiver android:name=".PlayerReceiver">
            <intent-filter>
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <service android:name=".PlayerService" >
            <intent-filter>
                <action android:name="net.metax.mediaplayer.ACTION_PLAYPAUSE" />
                <action android:name="net.metax.mediaplayer.ACTION_PLAY" />
                <action android:name="net.metax.mediaplayer.ACTION_PAUSE" />
                <action android:name="net.metax.mediaplayer.ACTION_SKIP" />
                <action android:name="net.metax.mediaplayer.ACTION_REWIND" />
                <action android:name="net.metax.mediaplayer.ACTION_STOP" />
                <action android:name="net.metax.mediaplayer.ACTION_REQUEST_STATE" />
            </intent-filter>
        </service>


    </application>

</manifest>
