<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.metax.mediaplayersample"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="net.metax.mediaplayersample.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.metax.mediaplayersample.PlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_player" >
        </activity>
        <activity android:name="net.metax.mediaplayersample.PlayerRemoteControlActivity" />

        <receiver android:name="net.metax.mediaplayersample.PlayerReceiver" >
            <intent-filter>
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <service android:name="net.metax.mediaplayersample.PlayerService" >
            <intent-filter>
                <action android:name="net.metax.mediaplayer.ACTION_PLAYPAUSE" />
                <action android:name="net.metax.mediaplayer.ACTION_PLAY" />
                <action android:name="net.metax.mediaplayer.ACTION_PAUSE" />
                <action android:name="net.metax.mediaplayer.ACTION_SKIP" />
                <action android:name="net.metax.mediaplayer.ACTION_REWIND" />
                <action android:name="net.metax.mediaplayer.ACTION_STOP" />
                <action android:name="net.metax.mediaplayer.ACTION_REQUEST_STATE" />
            </intent-filter>
        </service>

        <activity
            android:name="net.metax.mediaplayersample.ChannelListActivity"
            android:label="@string/title_activity_channel"
            android:parentActivityName="net.metax.mediaplayersample.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.metax.mediaplayersample.MainActivity" />
        </activity>
    </application>

</manifest>
